<div class="flex justify-center mt-24">
  <h1>Sign In</h1>
  <br>
  <form [formGroup]="form" (submit)="submit($event)">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" (input)="input($event)">
      <mat-error>
        @if (emailField?.hasError('required')) {<strong>Email is required</strong><br>}
        @if (emailField?.hasError('email')) {<strong>Debe de un email</strong>}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error>
        @if (passwordField?.hasError('required')) {<strong>Password is required</strong><br>}
        @if (passwordField?.hasError('minlength')) {<strong>Debe de terner de minimo 5 caracteres</strong>}
      </mat-error>
    </mat-form-field>
    <br>
    <br>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
